version: "3.4"

services:
    application:
        build:
          dockerfile: Dockerfile.dev
        volumes:
          - ./src/MGME.Core:/mgme/MGME.Core
          - ./src/MGME.Infra:/mgme/MGME.Infra
          - ./src/MGME.Web:/mgme/MGME.Web